%html
  %head
    %link{:href=>'/stylesheets/dominion.css', :type=>'text/css', :rel=>'stylesheet'}
    %script{:type=>'text/javascript', :src=>'/javascripts/jquery.js'}
    %title Play Dominion
    
  %body
    #Screen
    
    Choice:
    %input{:id=>'text', :type=>'text'}
    %input{:type=>'submit', :value=>'Play'}